*{
    margin: 0;
    padding: 0;
}

.mid{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}

.logo{
    width: 70px;
}
.head{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 0px 1px 3px rgb(125, 122, 122) ;
    margin-bottom: 50px;
}

.head button{
    all : unset;
    margin: 10px;
    font-size: 0.7em;
}

.head input{
    width: 400px;
}

.lg a {
  all: unset;
  margin: 10px;
}
.lg{
    display: flex;
    flex-wrap: wrap;
}
.lg a:hover,.head button:hover {
  border-bottom: 2px solid red;
}

.card{
    
    border:"2px solid black";
    border-radius:"15px";
     padding:"5px"; 
     width:"150px";
     background-color:"beige";
}

button {
  color: white;
  padding: 10px 18px;
  margin: 0px 0px 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease;
  background: #22c55e;
}

/* Increment */
button:hover {
  background: #16a34a;
  box-shadow: 1px 1px 10px rgb(17, 15, 15);
  transform: scale(1.04);
}

button:active {
  transform: scale(0.96);
}
button:active{
    text-shadow: 1px 1px 1px black;
}