*{
    margin: 0;
    padding: 0;
    color: #e5e7eb;
}

#root {
  display: flex;
  flex-direction: column;
  background: #212121; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 200px;
  border-radius: 50%;

}
.profile{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  width: 250px;
  padding:10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button{
  background-color: black;
  margin: 4px;
  padding: 3px 6px;
  border-radius: 10px;
  cursor: pointer;
}
button:active{
  box-shadow: 0px 0px 1px white;
}
input{
  color: black;
}