*{
    margin: 0;
    padding: 0;
    color: #e5e7eb;
}

button{
  border:2px solid white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  
}
#violet{
  background-color: violet;
}
#indigo{
  background-color: indigo;
}
#blue{
  background-color: blue;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
}
#orange{
  background-color: orange;
}
#red{
  background-color: red;
}